# .env file used by load_dotenv to insert environment variables in the jupter environment
# copy example.env to .env

# Required for model usage
ANTHROPIC_API_KEY="XXX"
OPENAI_API_KEY="XXX"
GEMINI_API_KEY="XXX"
HF_TOKEN="XXX"
SEMANTIC_SCHOLAR_API_KEY="XXX"

# Not used in current version
OPENALEX_API_KEY = "XXX"
OSF_API_KEY = "XXX"

# Optional: For evaluation and tracing
LANGSMITH_API_KEY="XXX"
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=lc-essentials
# EU
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com


# MIRAI API CLIENT ENV VARIABLES (CHECK IT IS UP TO DATE AND MODIFY IF NEEDED)
SUPABASE_URL=https://your-project-id.supabase.co
SUPABASE_KEY=your-anon-public-key

MIRAI_EMAIL=user@example.com
MIRAI_PASSWORD=your-password-here
PLATFORM_BASE_URL=https://ai-scientist.ai1science.net/
BEARER_TOKEN=your-bearer-token-here
